---

---
	{% include header.html %}
	{% include mainnavigation.html %}

	<div class="page-wrapper recipe">

		<section class="slideshow flex-container">
			<div class="container">


				<!-- slideshow -->
				<div class="row with-border">

					<!-- actual slides in iframe -->
					<div class="col-md-8 slideshow">
						<div class="embed-responsive embed-responsive-4by3">
							<iframe id="slideshow" width="800" height="600" scrolling="no" src="/Building-the-Web/workbook/{{ page.section }}/slideshow.html">
							</iframe>
						</div>
					</div>

					<!-- accompanying slide explanatory text -->
					<div class="col-md-4">
						<div class="slide-notes"></div>
						<div class="nav-buttons"></div>
					</div>

				</div><!-- .row -->


				<!-- chapter navigation -->
				<div class="templates">

					{% if page.previous %}
						<a class="previous-btn" href="{{ site.baseurl }}/workbook/{{ page.previous }}">
							&laquo; Previous Chapter: {{ page.previoustitle }}
						</a>
					{% endif %}

					{% if page.next %}
						<a class="next-btn" href="{{ site.baseurl }}/workbook/{{ page.next }}">
							Next Chapter: {{ page.nexttitle }} &raquo;
						</a>
					{% endif %}

				</div><!-- templates -->


			</div><!-- .container -->
		</section><!-- .slideshow.container -->


		<div class="container page-content">

			{{ content }}

		</div><!-- .container -->

	</div><!-- .page-wrapper -->


	{% include footer.html %}


	<!-- modal video popup, hidden by default -->
	<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<div>
						<iframe width="100%" height="350" src=""></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script type="application/javascript">

		$(document).ready( function() {

			var slideshow = $('#slideshow').contents();
			var slideshowJS = document.getElementById('slideshow').contentWindow;

			slideshow.on('slidechanged', function(event){
				updateNotes();
				checkSlideState();
			});

			slideshow.on('ready', function(event) {
				updateNotes();
				checkSlideState();
			});

			function updateNotes(){
				var notes = slideshow.find('.inline-notes').html();
				$('.slide-notes').html(notes);
			}

			function checkSlideState(){
				
				if( slideshowJS.Reveal.isFirstSlide() ) {
					$('.slide-notes').append( $('.previous-btn').clone() );
				}

				if( slideshowJS.Reveal.isLastSlide() ) {
					$('.slide-notes').append( $('.next-btn').clone() );
				}				

			}


			document.onkeydown = checkKey;

			function checkKey(e) {

				var up = '38';
				var down = '40';
				var left = '37';
				var right = '39';

				e = e || window.event;

				if (e.keyCode == up) {
					slideshowJS.Reveal.up();
				}
				else if (e.keyCode == down) {
					slideshowJS.Reveal.down();
				}
				else if (e.keyCode == left) {
					slideshowJS.Reveal.left();
				}
				else if (e.keyCode == right) {
					slideshowJS.Reveal.right();
				}
			}

		});

	</script>

	<script type="application/javascript">
		/* responsive youtube modal using bootstrap */
		/* Source: http://jsfiddle.net/NbE9d/18/ */

		autoPlayYouTubeModal();

		//FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG
		function autoPlayYouTubeModal() {
		  var trigger = $("body").find('[data-toggle="modal"]');
		  trigger.click(function () {
			  var theModal = $(this).data("target"),
				  videoSRC = $(this).attr("data-theVideo"),
				  videoSRCauto = videoSRC + "?autoplay=1";
			  $(theModal + ' iframe').attr('src', videoSRCauto);
			  $(theModal + ' button.close').click(function () {
				  $(theModal + ' iframe').attr('src', videoSRC);
			  });
			  $('.modal').click(function () {
				  $(theModal + ' iframe').attr('src', videoSRC);
			  });
		  });
		}
	</script>